@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title-text {
      @apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 mr-auto ml-2 my-auto transition duration-300 ease-in-out;
    }

    .content-container {
      @apply flex flex-col text-white text-3xl bg-gray-700 m-0 h-screen w-full ml-0 mx-auto px-8 py-4 text-center;
    }

    .flex {
      display: flex;
      justify-content: center;
    }

    .sidebar-icon {
      @apply relative flex items-center justify-center h-12 w-12 mx-auto shadow-lg mt-2 mb-2 bg-gray-900 text-white hover:bg-blue-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
    }

    .sidebar-tooltip {
      @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-secondary-dark-bg font-bold transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-hr {
      @apply bg-gray-800 border border-gray-800 rounded-full mx-2;
    }

    .top-navigation {
      @apply flex flex-row items-center justify-evenly bg-gray-700 bg-opacity-90 w-full h-16 m-0 shadow-lg;
    }

    .top-navigation-icon {
      @apply text-gray-500 mr-3 ml-4 transition duration-300 ease-in-out hover:text-pink-400 cursor-pointer;
    }

    .top-navigation-icon:first {
      @apply ml-auto mr-4;
    }

    .title-hashtag {
      @apply text-lg tracking-wider font-semibold text-gray-500 ml-2 my-auto;
    }

    .title-text {
      @apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 mr-auto ml-2 my-auto transition duration-300 ease-in-out;
    }

    .search {
      @apply w-1/5 flex items-center justify-start bg-gray-600 text-gray-500 px-2 h-9 ml-0 mr-0 rounded-md shadow-md transition duration-300 ease-in-out;
    }

    .search-input {
      @apply w-full font-sans font-semibold bg-transparent outline-none text-gray-500 placeholder-gray-500 pl-1 rounded;
    }

    .content-container {
      @apply flex flex-col bg-gray-300 dark: bg-gray-700 m-0 h-full w-full overflow-hidden;
    }

    .content-list {
      @apply flex flex-col items-center h-full w-full mt-0 ml-0 mx-auto px-0 pb-12 overflow-y-scroll;
    }

    .post {
      @apply w-full flex flex-row items-center justify-evenly py-4 px-8 m-0 cursor-pointer;
    }

    .post-selected {
      @apply bg-gray-900 shadow-md;
    }

    .post-content {
      @apply w-4/5 flex flex-col justify-start ml-auto;
    }

    .post-text {
      @apply text-lg text-left text-white mr-auto whitespace-normal;
    }

    .post-owner {
      @apply text-left font-semibold text-white mr-2 cursor-pointer;
    }

    .avatar-wrapper {
      @apply flex flex-col items-center w-12 m-0 ml-auto mb-auto;
    }

    .avatar {
      @apply flex-none w-12 h-full rounded-full shadow-md object-cover bg-gray-100 mb-auto mt-0 mx-0 cursor-pointer;
    }

    .timestamp {
      @apply text-xs text-left font-semibold text-gray-500 dark: text-gray-600 ml-2;
    }

    .bottom-bar {
      @apply flex flex-row items-center justify-between fixed left-88 right-8 bottom-2 rounded-lg shadow-lg bg-gray-600 px-2 h-12;
    }

    .bottom-bar-input {
      @apply font-semibold w-full bg-transparent outline-none ml-0 mr-auto text-gray-400 placeholder-gray-500 cursor-text;
    }

    .channel-bar {
      @apply w-80 h-auto m-0 ml-16 bg-gray-800 overflow-hidden;
    }

    .channel-container {
      @apply flex flex-col items-center justify-start p-1 m-0;
    }

    .channel-block {
      @apply flex items-center justify-center h-16 m-0 p-0;
    }

    .channel-block-text {
      @apply text-lg tracking-wider font-bold text-gray-400 mr-auto ml-4 my-auto align-middle;
    }

    .dropdown {
      @apply m-0 w-full px-2 pb-2 transition duration-300 ease-in-out;
    }

    .dropdown-header {
      @apply flex flex-row items-center justify-evenly mx-0 text-gray-500 cursor-pointer;
    }

    .dropdown-header-text {
      @apply text-gray-500 text-opacity-90 text-lg font-semibold cursor-default;
    }

    .dropdown-header-text-selected {
      @apply text-blue-500 text-opacity-90 text-lg font-bold;
    }

    .dropdown-selection {
      @apply flex flex-row items-center justify-evenly mt-1 mr-auto ml-2 transition duration-300 ease-in-out cursor-pointer;
    }

    .dropdown-selection-text {
      @apply text-gray-500 font-semibold tracking-wide mr-auto transition duration-300 ease-in-out hover:text-gray-500 cursor-pointer;
    }

}

@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
    z-index: 10000;
}
@media screen and (max-width: 800px) {
    .sidebar {
        z-index: 10000000;
    }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
    z-index: 1000000 !important;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* color-picker style  */

#preview {
    background: transparent
        url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
        no-repeat;
    display: inline-block;
    height: 80px;
    margin: 10px 0;
    min-width: 300px;
    max-width: 600px;
    background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
    border: none;
}
